service lindroid_container_setup /system/bin/sh /system/bin/lindroid_container_setup.sh
    user root
    oneshot

on init
    mkdir /sys/fs/cgroup/devices 0750 root system
    mount cgroup none /sys/fs/cgroup/devices devices
    mkdir /sys/fs/cgroup/freezer 0750 root system
    mount cgroup none /sys/fs/cgroup/freezer freezer
    mkdir /sys/fs/cgroup/systemd 0750 root system
    mount cgroup none /sys/fs/cgroup/systemd none,name=systemd

on post-fs-data
    mkdir /data/lindroid 0770 system system
    mkdir /data/lindroid/lxc 0770 system system
    mkdir /data/lindroid/lxc/log 0770 system system
    mkdir /data/lindroid/lxc/nics 0770 system system
    mkdir /data/lindroid/lxc/run 0770 system system
    mkdir /data/lindroid/lxc/rootfs 0770 system system
    start lindroid_container_setup
