<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.lindroid.ui"
    android:sharedUserId="android.uid.system">

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lindroid"
        android:persistent="true">
        <activity
            android:name=".PrimaryDisplayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondaryDisplayActivity"
            android:launchMode="singleTask"
            android:taskAffinity="cover.container"/>
        <service
            android:name=".HardwareService"
            android:exported="true"/>

        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />
    </application>

</manifest>
